
body {
    background-color: white;

    .main-image {
        float: left;
        width: 150px;
    }  
    #about-intro-text {
        font-size: 24px;
        text-align: center;
        padding-top: 40px;
    }

    .ugly-pizza {
        width: 50%; 
        display: block;
        margin: auto; 
        padding-top: 100px;
    }
    .page-name {
        text-align: center;
        border-bottom: solid;
        border-style: thin;
    }
}
